global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'docker-host-alpha'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['nodeexporter:9100']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091']

  - job_name: 'pocket-fr-1'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['pocket-fr-1:8083']
      - targets: ['pocket-fr-1:26660']

  - job_name: 'pocket-fr-2'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['pocket-fr-2:8083']
      - targets: ['pocket-fr-2:26660']

  - job_name: 'traefik'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['traefik:8082']